<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../add-question.css">
    <title>Add Questions</title>
</head>
<body>
    <div class="topBar">
        <p class="header">QuestionWizz</p>
        <a href="/" style="margin-left: 50vw;"><p>Home</p></a>
        <a href="/login"><p>Login</p></a>
        <a href="/signup"><p>Signup</p></a>
    </div>

    <% if(questionCount > 0) { %>
        <form action="/create/add" method="post">

            <% let n = 1 %>
            <% for(let question = questionCount; question > 0 ; question--){ %>
                <div class="Question">
                    <label for="question_input"> Q <%= n %> ] Enter the question</label>
                    <textarea name="questionInput" id="question_input" cols="30" rows="10"></textarea>
                    <label for="option1_input"> <%= 1 %>. Enter option number 1</label>
                    <input type="text" name="option1" id="option1_input">
                    <label for="option2_input"> <%= 2 %>. Enter option number 2</label>
                    <input type="text" name="option2" id="option2_input">
                    <label for="option3_input"><%= 3 %>. Enter option number 3</label>
                    <input type="text" name="option3" id="option3_input">
                    <label for="option4_input"><%= 4 %>. Enter option number 4</label>
                    <input type="text" name="option4" id="option4_input">
                    <label for="answer_input">Provide correct option number</label>
                    <input type="number" name="answer" id="answer_input">
                </div>
                <% n += 1 %>
            <% } %>

            <button class="submitButton">Submit</button>

        </form>
    <% } %>

</body>
</html>